<div class="row" *ngIf="!isChild">
    <div class="col-md-7 col-lg-9">
        <nb-card>
            <nb-accordion>
                <nb-accordion-item>
                  <nb-accordion-item-header>
                    {{ 'LB.SEARCH.TIM_KIEM_NANG_CAO' | translate }}
                  </nb-accordion-item-header>
                  <nb-accordion-item-body>
                        <div class="row">
                            <div class="col-md-6 col-lg-4 col-xxxl-4 mb-2">
                                <naf-form-control
                                    [label]="'LB.SEARCH.TU_KHOA' | translate"
                                    [(ngModel)]="queryOptions.keyword"
                                ></naf-form-control>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-12 col-lg-12">
                                <div class="text-right">
                                    <button class="mr-2" nbButton status="primary" size="small" (click)="onSearchChange()">
                                        <i class="fa fa-search mr-2"></i> {{ 'LB.SEARCH.TIM_KIEM' | translate }}
                                    </button>
                                    <button class="mr-2" nbButton status="warning" size="small" (click)="resetHandler()">
                                        <i class="fas fa-redo-alt mr-2"></i> {{ 'LB.SEARCH.LAM_MOI' | translate }}
                                    </button>
                                </div>
                            </div>
                        </div>
                  </nb-accordion-item-body>
                </nb-accordion-item>
            </nb-accordion>
        </nb-card>
    </div>
    <div class="col-md-5 col-lg-3">
        <nb-card>
            <nb-card-body>
                <nb-form-field>
                    <nb-icon nbPrefix icon="search-outline" pack="eva"></nb-icon>
                    <input type="text" class="font-italic" nbInput fullWidth fieldSize="small" [placeholder]="'LB.SEARCH.TIM_KIEM_NHANH'| translate" (keyup.enter)="loadItems()" [(ngModel)]="queryOptions.keyword"/>
                </nb-form-field>
            </nb-card-body>
        </nb-card>
    </div>
</div>
<nb-card>
    <nb-card-header>
        {{ 'LB.CAT.NGANH_HANG' | translate }}
        <button nbButton size="tiny" status="primary" class="float-right" (click)="setInfoTab()" [disabled]="selectionIds.length < 1">
            <i class="fa fa-info"></i>
        </button>
    </nb-card-header>
    <nb-card-body class="group-button">
        <div class="float-left">
            <button nbButton status="primary" size="small" (click)="addHandler()"><i class="fa fa-plus mr-2"></i> {{ 'LB.GRID.THEM_MOI' | translate }}</button>
            <button nbButton status="danger" size="small" (click)="removeSelectedHandler()" [disabled]="selectionIds.length < 1">
                <i class="fa fa-trash mr-2"></i> {{ 'LB.GRID.XOA' | translate }}
            </button>
        </div>
    </nb-card-body>
    <nb-card-body>
        <div class="row">
            <div [class]="colNameDefineClass">
                <kendo-grid
                    class="kendo_custom "
                    [data]="gridView$ | async"
                    [resizable]="true"
                    [pageSize]="gridState.take"
                    [skip]="gridState.skip"
                    [loading]="isLoading"
                    [pageable]="true"
                    [resizable]="true"
                    kendoGridSelectBy="id"
                    [selectable]="true"
                    [selectedKeys]="selectionIds"
                    (selectionChange)="selectedRowChange($event)"
                    (dataStateChange)="onStateChange($event)">
                    <kendo-grid-checkbox-column class="text-center" showSelectAll="true" [width]="50" [columnMenu]="false"
                        [headerStyle]="{
                            'text-align': 'center'
                            }">

                    </kendo-grid-checkbox-column>
                    <kendo-grid-column class="text-center" [width]="60">
                        <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                            <button nbButton status="info" size="tiny" [matMenuTriggerFor]="menu">
                                    <i class="fa fa-bars"></i>
                                </button>
                            <mat-menu #menu="matMenu">
                                <button mat-menu-item class="button_box" color="primary" (click)="editHandler(dataItem)">
                                        <div class="box_botton">
                                            <i class="fa fa-edit mr-2" style="width: 20px;"></i>{{ 'LB.GRID.CHINH_SUA' | translate }}
                                        </div>
                                    </button>
                                <button mat-menu-item class="button_box" (click)="removeHandler(dataItem)">
                                        <div class="box_botton">
                                            <i class="fa fa-trash mr-2" style="width: 20px;"></i>{{ 'LB.GRID.XOA' | translate }}
                                        </div>
                                    </button>
                            </mat-menu>
                        </ng-template>
                    </kendo-grid-column>
                    <kendo-grid-column [title]="'LB.GRID.RN' | translate" [width]="60" class="text-center" [headerStyle]="{
                        'text-align': 'center'
                        }">
                        <ng-template kendoGridCellTemplate let-rowIndex="rowIndex">
                            {{ rowIndex + 1 }}
                        </ng-template>
                    </kendo-grid-column>
                    <kendo-grid-column field="soThuTu"
                                        class="kendo_title"
                                        [title]="'LB.CAT.INDEX' | translate"
                                        [width]="100">
                    </kendo-grid-column>
                    <kendo-grid-column field="ten"
                                        class="kendo_title"
                                        [title]="'LB.CAT.NAME' | translate"
                                        [width]="200">
                    </kendo-grid-column>
                    <kendo-grid-column field="moTa"
                                        class="kendo_title"
                                        [title]="'LB.CAT.DES' | translate"
                                        [width]="200">
                    </kendo-grid-column>
                    <kendo-grid-column field="ghiChu"
                                        class="kendo_title"
                                        [title]="'LB.CAT.NOTE' | translate"
                                        [width]="120">
                    </kendo-grid-column>
                    <ng-template kendoGridDetailTemplate let-dataItem>
                        <div class="font-italic" *ngIf="dataItem.soThuTu != null && dataItem.soThuTu != ''">
                            <div class="row">
                                <div class="col-4 col-md-4 col-lg-3 col-xxxl-2 float-left custom_table">
                                    <label class="col-form-label">  {{ 'LB.CAT.INDEX' | translate }} </label>
                                    <span class="float-right">:</span>
                                </div>
                                <div class="col-8 col-md-8 col-lg-9 col-xxxl-2">
                                    <label class=" col-form-label lb-bold-info">
                                        {{ dataItem?.soThuTu }}
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="font-italic" *ngIf="dataItem.ten != null && dataItem.ten != ''">
                            <div class="row">
                                <div class="col-4 col-md-4 col-lg-3 col-xxxl-2 float-left custom_table">
                                    <label class="col-form-label">  {{ 'LB.CAT.NAME' | translate }} </label>
                                    <span class="float-right">:</span>
                                </div>
                                <div class="col-8 col-md-8 col-lg-9 col-xxxl-2">
                                    <label class=" col-form-label lb-bold-info">
                                        {{ dataItem?.ten }}
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="font-italic" *ngIf="dataItem.moTa != null && dataItem.moTa != ''">
                            <div class="row">
                                <div class="col-4 col-md-4 col-lg-3 col-xxxl-2 float-left custom_table">
                                    <label class="col-form-label">  {{ 'LB.CAT.DES' | translate }} </label>
                                    <span class="float-right">:</span>
                                </div>
                                <div class="col-8 col-md-8 col-lg-9 col-xxxl-2">
                                    <label class=" col-form-label lb-bold-info">
                                        {{ dataItem?.moTa }}
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="font-italic" *ngIf="dataItem.ghiChu != null && dataItem.ghiChu != ''">
                            <div class="row">
                                <div class="col-4 col-md-4 col-lg-3 col-xxxl-2 float-left custom_table">
                                    <label class="col-form-label">  {{ 'LB.CAT.NOTE' | translate }} </label>
                                    <span class="float-right">:</span>
                                </div>
                                <div class="col-8 col-md-8 col-lg-9 col-xxxl-2">
                                    <label class=" col-form-label lb-bold-info">
                                        {{ dataItem?.ghiChu }}
                                    </label>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </kendo-grid>
            </div>
            <div class="col-3 col-lg-4 col-md-4 clsInfo" *ngIf="isInfoOpen && model">
                <nb-card status="info">
                    <nb-card-header>
                        <b>{{ 'LB.GRID.INFO' | translate }}</b>
                    </nb-card-header>
                    <nb-card-body>
                        <div class="row mb-1 font-italic" *ngIf="model.soThuTu!= null && model.soThuTu != ''">
                            <div class="col-5"><b>{{ 'LB.CAT.INDEX' | translate }}:</b></div>
                            <div class="col-7 pl-0">{{model.soThuTu}}</div>
                        </div>
                        <div class="row mb-1 font-italic" *ngIf="model.ten!= null && model.ten != ''">
                            <div class="col-5"><b>{{ 'LB.CAT.NAME' | translate }}:</b></div>
                            <div class="col-7 pl-0">{{model.ten}}</div>
                        </div>
                        <div class="row mb-1 font-italic" *ngIf="model.moTa!= null && model.moTa != ''">
                            <div class="col-5"><b>{{ 'LB.CAT.DES' | translate }}:</b></div>
                            <div class="col-7 pl-0">{{model.moTa}}</div>
                        </div>
                        <div class="row mb-1 font-italic" *ngIf="model.ghiChu!= null && model.ghiChu != ''">
                            <div class="col-5"><b>{{ 'LB.CAT.NOTE' | translate }}:</b></div>
                            <div class="col-7 pl-0">{{model.ghiChu}}</div>
                        </div>
                    </nb-card-body>
                </nb-card>
            </div>
        </div>

    </nb-card-body>
</nb-card>
<div class="k-overlay" *ngIf="opened"></div>
<div class="wrapper form-layouts">
    <div kendoWindowContainer></div>
</div>
